
h2{
    text-align: center;
}
form{
    border-style: double;
    border-radius: 0.5rem;
    background-color: #fea414d7;
    
    
}
main{
    background-color: #FEA314;
}

.container{
    
    margin-bottom: 10px;
    
}
.div-tab{
    padding: 10px;
}






