body{
    background-color: #FEA314;
}
.container{
    padding: 0px 200px 0 200px;
    background-color: #fea414d7;
}
p{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}